    {% extends "new_base.html" %}
      {% block thumbnails %} {% endblock %}
      {% block content %}
<table>
    <p>
      in early 2010, i decided to visit <a
      href="http://search.twitter.com/search?q=cancer">twitter.com</a>
      to see if anyone out there was tweeting their experiences with
      cancer. to my surprise i found plenty of people doing so in real
      time. i also found hoards of spam, links and other crud. i felt
      the need to curate these results automatically. and so i decided
      to build <a href="/">tweetandbeat.com</a> a "vertical" index
      (<i>in a sense</i>) that sits on top of twitter only to address
      the cancer related tweets. the following were my reasons for
      building the service:
    </p>
    
    <p>
      <b>the first</b>: was to get people (like you and me, who are
      browsing the website) to offer a few words of encouragement when
      someone tweets something like this:
    </p>
    
    <p>
    <center>
      <i>
        My family has been fighting cancer for 3 years now. Have lost
        so far 2 out of 5 with it. I am also a widow from heart
        disease. (<a
          href="http://twitter.com/jlbbhj/status/13448408035">tweet</a>)
      </i>
    </center>
  </p>
      
    <p>
      or to tell them (a perfect stranger) that you are happy for them
      when they score a victory such as this:
    </p>
    
    <p>
    <center>
      <i>
        Longest 10 days of my life. Cancer-free is all that matters
        today! Bad mammogram...breathing HUGEST sigh of relief. Can
        now get brain back! (<a
        href="http://twitter.com/michsnell/status/13449063454">tweet</a>)
      </i>
    </center>
  </p>

    <p>
      each one of us has so much empathy and so much love to give
      strangers. so why not give this love to ones who are suffering
      from the dreaded disease? technology lets you do this in real
      time just when they could use (your) kind words of
      encouragement. when you find a tweet you want to reply to,
      simply press <img src="/static/reply.png"> and offer your words
      of encouragement.
    </p>

    <p>
      <b>the second</b>: was to get people with the disease, to
      discover others with the disease in real time. the service
      stores cancer related tweets going back to early jan, 2010. go
      on, hit <b>next</b> and browse.
    </p>

    <p>
      <b>and finally</b>: was to remove spam and build a social
      network on top of these cancer related tweets. you can favorite
      these tweets, and in general curate and personalize the
      experience just for yourself. i'm still building this service.
    </p>

    <p>
      <b>disclaimer</b>: this service will always be a work in
      process. i sincerly hope you find this service useful. you can
      contact me anytime by sending an email to
      hareesh.nagarajan@gmail.com. i have horrible user interface
      skills, so if you think you can redesign this website i'd love
      to hear from you.
    </p>
</table>

    {% endblock %}