    {% extends "base.html" %}
      {% block content %}
    <center>
      <h3>about tweetandbeat.com</h3>
      <b><a href="/">home</a></b>
    </center>

    <p>
      in early 2010, i decided to visit <a
      href="http://search.twitter.com/search?q=cancer">twitter.com</a>
      to see if anyone out there is tweeting their experiences with
      cancer. to my surprise i found plenty of such folks tweeting
      their experience, in real time. i also found hoards of spam,
      links and other junk. i felt that someone needed to curate these
      results. and so i decided to build <a href="/">tweet and
      beat</a> a "vertical" search on top of twitter only for the
      disease cancer. the following were my primary reasons for
      building the service:
    </p>
    
    <p>
      first: was to get people to offer a few words of encouragement
      when someone tweets something such as this:
    </p>
    
    <p>
    <center>
      <i>
        My family has been fighting cancer for 3 years now. Have lost
        so far 2 out of 5 with it. I am also a widow from heart
        disease. (<a
          href="http://twitter.com/jlbbhj/status/13448408035">tweet</a>)
      </i>
    </center>
  </p>
      
    <p>
      or to tell them (a perfect stranger) that you are happy for
      them, when they have a victory such as this!
    </p>
    
    <p>
    <center>
      <i>
        Longest 10 days of my life. Cancer-free is all that matters
        today! Bad mammogram...breathing HUGEST sigh of relief. Can
        now get brain back! (<a
        href="http://twitter.com/michsnell/status/13449063454">tweet</a>)
      </i>
    </center>
  </p>

    <p>
      each one of us has so much empathy and so much love to give. so
      why not give this love to ones who are suffering from the
      dreaded disease? technology lets you do this in real time --
      just when they could do with these kind words.
    </p>

    <p>
      second: was to get people with the disease, to discover others
      with the disease in real time. the service stores cancer related
      tweets going back to early jan, 2010. go on, hit <b>next</b> and
      browse.
    </p>

    <p>
      third: was to remove spam and build a social network on top of
      these cancer related tweets. you can favorite these tweets, and
      in general curate and personalize the experience just for
      yourself. i'm still building this service.
    </p>

    <p>
      i sincerly hope you find this service useful. you can contact me
      anytime using the link below. if you feel passionate about the
      disease and wish to improve the look and feel of this service,
      i'd love to hear from you.
    </p>


    {% endblock %}