{% extends "new_base.html" %}

{% block thumbnails %}
{% for result in result_list %}
<a title="{{ result.from_user }}" href="http://twitter.com/{{ result.from_user }}"><img alt="{{ result.from_user }}" border=0 width=48px height=48px src="{{ result.profile_image_url }}"></a>
{% endfor %}
{% endblock %}

{% block content %}
<center>
{% if next_tweet_id %}
<b><a href="?next={{ next_tweet_id }}">next page</a></b>
{% endif %}
</center>
{% for result in result_list %}
<th><td onMouseOver="document.getElementById('reply').style.visibility='visible';">
<a href="http://twitter.com/{{ result.from_user }}"><img src="{{ result.profile_image_url }}" width="48x" height="48px" ></img></a>
</td><td><span class="date">
({{ result.created_at|timesince }} ago)</span> <small>{{ result.text }}</small>

<span class="reply">
<a href="http://twitter.com/?status=@{{ result.from_user }}&in_reply_to_status_id={{ result.created_at }}&in_reply_to={{ result.from_user }}"><img src="/static/reply.png" title="Reply and encourage {{ result.from_user }}"></a>
</span>

</td></th>



{% if forloop.counter|divisibleby:"3" %}
</tr><tr>
{% endif %}
{% endfor %}
{% endblock %}
